<h1>商品の登録</h1>

<%= form_with model: @form, url: products_path, method: :post, local: true do |form| %>
<table class="table">
  <thead>
    <tr>
			<th width="60px">登録</th>
      <th>商品名</th>
      <th>商品名カナ</th>
      <th>金額</th>
    </tr>
  </thead>
  <tbody class="bulk-registration-form">
    <%= form.fields_for :products do |f| %>
    <tr class="product">
		  <td class="text-center">
				<%= f.check_box :availability, class: 'top10 registration-checkbox' %>
			</td>
      <td>
        <%= f.text_field :name, class: 'form-control' %>
      </td>
      <td>
        <%= f.text_field :name_kana, class: 'form-control' %>
      </td>
      <td>
        <%= f.text_field :price, class: 'form-control' %>
      </td>
			<td>
        <%= f.hidden_field :user_id, value: @current_user, class: 'form-control' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= form.submit '登録する	', class: 'btn btn-primary' %>
</div>
<% end %>